body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

/* NAVBAR */

.navbar {
  gap: 30%;
  height: 60px;
  background-color:whitesmoke;
}

.navbar-menu {
  gap: 20px;
}
.navbar-menu a:hover {
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img  {
  width: 40px;
}

.highlight-btn img {
  width: 30px;
}

.logo p {
  font-size: 120%;
  margin: 5px;
}

.highlight-btn {
  padding: 5px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  height: 90%;
  border: 1px solid white;
}


.highlight-btn:hover {
  cursor: pointer;
  border: 1px solid black;
}

.highlight-btn p {
  margin: 0;
  margin-left: 10px;
}


/* CONTENT */

.flex-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:20vw;
}

.flex-content .paragraph > * {
  margin: 0;
}

.btn img {
  width: 30px;
}

.btn {
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: black;
  border: 1px solid white;
  gap: 10px;
  width: fit-content;
}

.btn p {
  margin: 0;
}

.btn:hover {
  cursor: pointer;
}

.mypic-image img {
  width: 300px;
  border-radius: 50%; 
}

.paragraph h1{
  font-size: 250%;
}

.paragraph h3 , .paragraph h4 {
  font-weight: 400;
}

.margin-0 {
  margin: 0;
}

.rainbow {
  font-size: 130%;
}

.main-content {
  margin-top: 5%;
  margin-bottom: 25%;
}

/* ABOUT ME */
.flex-column-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15%;
}

.about-me p {
  width: 60%;
}


/* TECH STACK */

.stack-wrap p{
  width: 60%;
  text-align: center;
  margin: 0;
}

.stack-menu {
  margin-top: 2%;
  gap: 15px;
  background-color: whitesmoke;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}


.stack-menu a{
  font-size: 120%;
  width: 120px;
  padding: 10px;
  border-radius: 5px;
}

.stack-menu:hover {
  cursor: pointer;
}

.active {
  background-color: rgb(45, 45, 45);
  color: white;
}

.notactive{
  background-color: white;
}


.stack-cards{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  margin-top: 20px;
}

.card{
  margin: 10px;
  text-align: center;
}

.card img{
  width: 100px;
  height: 100px;
}

.card span {
  display: block;
  margin-top: 5px;
}


/* PROJECT */

.search-result img{
  width: 200px;
}





/* CONTACT */

.contact-wrap > * {
  margin-bottom: 5%;
}

