body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

/* NAVBAR */

.navbar {
  gap: 30%;
  height: 60px;
  background-color:whitesmoke;
}

.navbar-menu {
  gap: 15px;
}
.navbar-menu a:hover {
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img  {
  width: 40px;
}

.highlight-btn img {
  width: 30px;
}

.logo p {
  font-size: 120%;
  margin: 5px;
}

.highlight-btn {
  padding: 5px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  height: 90%;
  border: 1px solid white;
}

.highlight-btn:hover {
  cursor: pointer;
  border: 1px solid black;
}

.highlight-btn p {
  margin: 0;
  margin-left: 10px;
}

